<!doctype html>
<html lang = >
<head>
  <metacharset>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>{% block title %}Prefect Voting System{% endblock %}</title>
</head>
<body class="container">
  <ul>
    <li><a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
    <li>
      <a href="#" class="{% if request.endpoint == 'candidates' or request.endpoint == 'candidate' %}active{% endif %}">Candidates</a>
      <ul class="dropdown">
        {% for c in candidates %}
          <li><a href="{{ url_for('candidate', candidate_id=c.id) }}" class="{% if request.endpoint == 'candidate' and request.view_args.candidate_id == c.id %}active{% endif %}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{{ url_for('votepage') }}" class="{% if request.endpoint == 'votepage' %}active{% endif %}">Vote Now</a></li>
  </ul>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
