<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <title>Home</title>
    </head>
    <ul class="navbar">
        <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        <li><a href="candidates.html">Candidates</a></li>
        <li><a href="{{ url_for('votepage') }}">Vote Now</a></li>
    </ul>
    <body class="container">
        <h1>Welcome, {{ username }}!</h1>
        <a href="{{ url_for('logout') }}">Logout</a>
    </body>
</html>
