{% extends 'base.html' %}

{% block title %}Vote{% endblock %}

{% block content %}
  <h1>Prefect Voting System</h1>

  <form class="vote-form" method="POST" action="{{ url_for('submit_vote') }}">
    <div class="vote-columns">
      <div class="vote-section">
        <h2>Boys</h2>
        <select class="form-select" name="boy1" required>
          <option value="">Boy Vote 1</option>
          <option value="Ryan">Ryan</option>
          <option value="Isaac">Isaac</option>
          <option value="Milo">Milo</option>
        </select>
        <select class="form-select" name="boy2" required>
          <option value="">Boy Vote 2</option>
          <option value="Ryan">Ryan</option>
          <option value="Isaac">Isaac</option>
          <option value="Milo">Milo</option>
        </select>
        <select class="form-select" name="boy3" required>
          <option value="">Boy Vote 3</option>
          <option value="Ryan">Ryan</option>
          <option value="Isaac">Isaac</option>
          <option value="Milo">Milo</option>
        </select>
      </div>

      <div class="vote-section">
        <h2>Girls</h2>
        <select class="form-select" name="girl1" required>
          <option value="">Girl Vote 1</option>
          <option value="Amber">Amber</option>
          <option value="Sophie">Sophie</option>
          <option value="Liz">Liz</option>
        </select>
        <select class="form-select" name="girl2" required>
          <option value="">Girl Vote 2</option>
          <option value="Amber">Amber</option>
          <option value="Sophie">Sophie</option>
          <option value="Liz">Liz</option>
        </select>
        <select class="form-select" name="girl3" required>
          <option value="">Girl Vote 3</option>
          <option value="Amber">Amber</option>
          <option value="Sophie">Sophie</option>
          <option value="Liz">Liz</option>
        </select>
      </div> 
    </div>
    <input type="submit" value="Vote">
  </form>
{% endblock %}
